OR20-RAZORTradingLimit/SCA-INF/classes/SCA-INF/classes/SCA-INF/classes/SCA-INF/classes/Outbound_SCHEMA_2FMessageGateway_2FResources_2FSchema_2FMessageGatewayv0.1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema targetNamespace="http://www.kpei.co.id/schema/MessageGatewayv0.1" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.kpei.co.id/schema/MessageGatewayv0.1">
   <xsd:element name="MessageGateway">
      <xsd:annotation>
         <xsd:documentation>A sample element</xsd:documentation>
      </xsd:annotation>
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="serviceId" type="xsd:string"/>
            <xsd:element name="xmlData" type="xsd:anyType"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="Response"/>
</xsd:schema>
